@import '../../common/styles/editor';
.article_container{
  margin-top: 50px;

  .article_content{
    width: 620px;
    margin: 0 auto;

    .article_title{
      font-size: 34px;
      font-weight: 700;
      line-height: 1.3;
    }
    .article_info{
      margin: 30px 0 40px;
      display: flex;

      .info_author{

      }

      .info_detail{

        .article_detail{
          margin-top: 5px;
          font-size: 12px;
          color: #969696;
        }
        .detail_item{
          margin-right: 5px;
        }
      }
    }
    .article_text{
      word-break: break-all;
      img {
        max-width: initial !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      @media screen and (max-width: 768px) {
        img{
          max-width: 100% !important;
        }
      }
      @include editor;
    }
  }
}